body {
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: Inter, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ant-tabs, .ant-tabs-list, .ant-tabs-nav-list, .ant-tabs-nav-wrap {
    /*width: 110px;*/
}